body {
    font-family: sans-serif;
    margin: 20px; /* Keep your margin if you have one */
    background-color: #000000;
    padding: 10px 250px; /* 10px top and bottom, 30px left and right */
}

h1, h2 {
    color: #ffffff;
    padding: 10px 250px; /* Example padding for headings */
}

p {
    padding: 10px 250px; /* Example padding for paragraphs */
}

a {
    color: #a7bde8
    padding: 10px 300px;
}

/* You can apply different padding to other elements as well */
