body {
    font-family: sans-serif;
    margin: 200px;
    background-color: #000000;
}

h1, h2 {
    color: #ffffff;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
